.btn {
    width: 100%;
    background-color: $primary;
    color: $white;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s all ease;
    img {
        margin-right: 10px;
    }
    &:hover {
        background-color: $primary-800;
    }
}
// 螢光筆重點
.mark {
    border-bottom: 2px solid $yellow;
}
