// 顏色
$black: #2F2F2F;
$white: #FFFFFF;

$primary: #7F977B;
$primary-light: #A8B8A5;
$primary-dark:#65895F;
$primary-20: rgba(127, 151, 123, 0.2);

$gray: #E5E5E5;
$gray-100: #9E9E9E;
$gray-900: #646464;

$yellow: #E0DA48;