// 顏色
$black: #2F2F2F;
$white: #FFFFFF;

$primary: #7F977B;
$primary-300: #A8B8A5;
$primary-500: #6E7D60;
$primary-800: #65895F;
$primary-20: rgba(127, 151, 123, 0.2);
$primary-40: rgba(127, 151, 123, 0.4);

$gray: #E5E5E5;
$gray-100: #E6E6E6;
$gray-200: #F9F9F9;
$gray-300: #C4C4C4;
$gray-500: #9E9E9E;
$gray-600: #9E9E9E;
$gray-800: #646464;
$gray-900: #1E1E1E;

$yellow: #E0DA48;
$brown: #BEA363;
$red: #FF725E;

// z-index
// header
$zindex-header-menu: 2;
$zindex-header-overlay: 1;
// carousel
$zindex-carousel-title: 1;
$zindex-carousel-arrow: 1;
// dropdown
$zindex-dropdown: 2;